@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
dt,
* {
  font-family: "Orbitron", sans-serif;
  color: #0ff !important;
  text-shadow: -5px 5px 18px #00ffff;
}

#coffe-menu {
}

#coffe-menu h1 {
  font-weight: 900;
  letter-spacing: 10px;
}

.inner.container {
  padding: 50px;
}

.showroom-img {
  height: 140px;
  padding: 20px;
  box-shadow: 0 0 10px 5px red;
}
.combo-attractive {
}

.combo-attractive img {
  height: 150px;
}
.combo-more {
}

.combo-more h2 {
  background-color: black;
}
